<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var okruhy = "[[${okruhy}]]";
               </script>
    <script type="text/javascript" th:src="@{/script.js}"></script>
    <title>Naučím se</title>
</head>
<body>

<div class="container">
    <div class="col-3"></div>
    <div class="col-6">
        <h1 class="">Naučím se</h1>
        <p>Níže si můžete vybrat z okruhů, ze kterých se chcete nechat vyzkoušet.</p>

        <!--ve formuláři vyberu projekt a akci-->
        <form action="/submit" method="post">
            <div>
                Okruh:
                <select name="okruh_selection" id="okruh_selection">

                </select>
            </div>
            <br>
            <div>
                Akce:
                <select name="akce_selection" id="akce_selection">
                    <option value="vyzkouset_akce">vyzkoušet</option>
                    <option value="ukazat_akce">ukázat</option>
                </select>
            </div>
            <br>
            <input type="submit" value="Spustit">

        </form>
    </div>
    <div class="col-3"></div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h3 class="">Založ nový okruh</h3>
            <form action="/novyOkruh" method="post">
                <input type="text" name="novyOkruhNazev">
                <input type="submit">

            </form>
        </div>
        <div class="col-3"></div>
    </div>

</div>




</body>
</html>