<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script>
        var slovicka = "[[${slovicka}]]";
               </script>
    <script type="text/javascript" th:src="@{/nahled.js}"></script>

    <title>Title</title>
</head>
<body>

    <h2 th:text = "${okruh}"></h2>
    <table>
        <thead>
        <th>ID</th>
        <th>otázka</th>
        <th>odpověď</th>
        <th>znalost</th>
        </thead>
        <tbody id="tabulka">

        </tbody>
    </table>
    <br><br>
    <a href="/">Zpět na hlavní stránku</a>

    <form th:action="'/ukazat/pridaniSlova/' + ${okruh}" method="post">
        <h4>Přidat slovo</h4>
        <label for="idSlovaPridat">Napiš obě části slova, které chceš přidat:</label><br>
        <input type="text" id="idSlovaPridat" name="otazka" placeholder="napiš sem otázku">
        <input type="text" name="odpoved" placeholder="napiš sem odpověď"><br>
        <input type="submit" value="přidat">
    </form>

    <br><br>

    <form th:action="'/ukazat/zmenaSlova/' + ${okruh}" method="post">
        <h4>Změnit slovo</h4>
        <label for="idSlovaZmenit">Napiš ID slova, které chceš změnit:</label><br>
        <input type="text" id="idSlovaZmenit" name="idSlova">
        <input type="text" name="otazka" placeholder="napiš sem správný výraz">
        <input type="text" name="odpoved" placeholder="napiš sem správný výraz"><br>
        <input type="submit" value="změnit">
    </form>

    <br><br>

    <form th:action="'/ukazat/smazaniSlova/' + ${okruh}" method="post">
        <h4>Smaž slovo</h4>
        <label for="idSlovaSmazat">Napiš ID slova, které chceš změnit:</label><br>
        <input type="text" id="idSlovaSmazat" name="idSlova"><br>
        <input type="submit" value="smazat">
    </form>
</body>
</html>