<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script>
        var slovicka = "[[${slovicka}]]";
               </script>
    <script type="text/javascript" th:src="@{/nahled.js}"></script>

    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

            <h2 th:text = "${okruh}"></h2>
            <div class="d-flex justify-content-between">
                <table>
                    <thead>
                    <th>ID</th>
                    <th>otázka</th>
                    <th>odpověď</th>
                    <th>znalost</th>
                    </thead>
                    <tbody id="tabulka">

                    </tbody>
                </table>

            </div>
            <br>
            <span th:text = "${pozitivni}" id="pozitivni" ></span>
            <span th:text = "${negativni}" id="negativni" ></span>
            <br><br>

            <h4>Přidat slovo</h4>
            <form th:action="'/zobrazit/pridaniSlova/' + ${okruh}" method="post" class="shadow p-3">
                <label for="idSlovaPridat">Napiš obě části slova, které chceš přidat:</label><br>
                <input type="text" id="idSlovaPridat" name="otazka" placeholder="otázka">
                <input type="text" name="odpoved" placeholder="odpověď"><br><br>
                <input type="submit" value="přidat">
            </form>

            <br><br>

            <h4>Změnit slovo</h4>
            <form th:action="'/zobrazit/zmenaSlova/' + ${okruh}" method="post" class="shadow p-3">
                <label for="idSlovaZmenit">Napiš ID slova, které chceš změnit:</label><br>
                <input type="text" id="idSlovaZmenit" name="idSlova" placeholder="id"><br>
                <input type="text" name="otazka" placeholder="otázka">
                <input type="text" name="odpoved" placeholder="odpověď"><br><br>
                <input type="submit" value="změnit">
            </form>

            <br><br>

            <h4>Smaž slovo</h4>
            <form th:action="'/zobrazit/smazaniSlova/' + ${okruh}" method="post" class="shadow p-3">
                <label for="idSlovaSmazat">Napiš ID slova, které chceš změnit:</label><br>
                <input type="text" id="idSlovaSmazat" name="idSlova" placeholder="id"><br><br>
                <input type="submit" value="smazat">
            </form>

            <br>
            <a href="/">Zpět na hlavní stránku</a>

        </div>
        <div class="col-3"></div>
    </div>


</div>

</body>
</html>